@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  cursor: none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-weight: bolder;
  cursor: none;
}

img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "YUniverse-B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.back-Viedeo {
  z-index: -99999;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.tran-dealy {
  transition-delay: 1.5s;
  transition: 0.5s ease-in-out;
}

.tran-dealy2 {
  transition-delay: 0.5s;
  transition: 0.5s ease-in-out;
}

.boxheight0 {
  height: 0%;
}

.boxheight100 {
  height: 100%;
  opacity: 1;
}

.pointerColor1 {
  border: 2px solid #b28949;
  width: 20px;
  height: 20px;
}

.pointerColor2 {
  border: 2px solid white;
  width: 30px;
  height: 30px;
}

#motionWrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.pointer {
  position: absolute;
  z-index: 99;
  background: none;
  border-radius: 20px;
  top: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: background, border, height, width, transform;
  pointer-events: none;
  transform: translate(-10px, -10px);
}

.menu {
  top: 130px;
  position: fixed;
  top: 130px;
  left: 140px;
  transition: 0.5s;
  z-index: 999;
}
.menu > a {
  z-index: 999;
  position: relative;
  transition: 0.3s;
}
.menu > a:nth-child(1) {
  opacity: 0.3;
}
.menu > a:nth-child(2) {
  opacity: 0.3;
}
.menu > a:nth-child(3) {
  opacity: 1;
}

.Home-button::after {
  height: 10%;
}

.menu a::after {
  position: absolute;
  bottom: 0;
  width: calc(100% + 12px);
  left: -6px;
  height: 0%;
  background: #b28949;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
}

.menu a:hover::after {
  height: 20%;
}

.mainWrap {
  height: 100%;
}

.Line {
  z-index: 1000;
}

.right {
  height: calc(100% - 40px);
  width: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  position: fixed;
  right: 40px;
  top: 0px;
  z-index: 1000;
}

.left {
  height: calc(100% - 40px);
  width: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  position: fixed;
  left: 40px;
  top: 0px;
}

.bottom {
  width: calc(100% - 82px);
  position: fixed;
  height: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.leftgold {
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 60px;
  left: 39px;
  top: 40px;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  transition-delay: 1.5s;
}

.rightgold {
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 200px;
  right: 40px;
  top: 0px;
  z-index: 1000;
}

.mainbackground {
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.mainContent-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  height: calc(150vh - 195px);
}

.Textcolor {
  color: #b28949;
  font-weight: bold;
}

.loadingWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  background: none;
}
.loadingWrap > div {
  width: 100%;
  height: 33.33%;
  background-color: white;
}

.matrix0 {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 1s ease-in-out;
}

.matrix2000 {
  transform: matrix(1, 0, 0, 1, 2000, 0);
  transition: 1s ease-in-out;
}

.matrix-2000 {
  transform: matrix(1, 0, 0, 1, -2000, 0);
  transition: 1s ease-in-out;
}

.mainContent {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.mainContent .mainContent-Text {
  opacity: 0;
  transition: 1s ease-in-out;
  position: absolute;
  top: 650px;
  left: 127px;
  color: white;
}
.mainContent .mainContent-Text > span {
  font-size: 40px;
  font-weight: bold;
}
.mainContent .mainContent-Text > span h2 {
  font-size: 15px;
  font-weight: bold;
  color: #b28949;
}
.mainContent .mainContent-Text > h1 {
  font-size: 80px;
  position: relative;
}
.mainContent .mainContent-Text > h2 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  color: #b28949;
}
.mainContent .mainContent-Text .Textinfo {
  font-size: 20px;
  line-height: 35px;
}

.Contact1 {
  position: absolute;
  top: 850px;
  left: 127px;
  color: rgb(221, 221, 221);
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  font-family: "YUniverse-B";
  transition: 1s ease-in-out;
  transition-delay: 1s;
  opacity: 0;
}

.Contact2 {
  position: absolute;
  top: 850px;
  left: 350px;
  color: rgb(221, 221, 221);
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-family: "YUniverse-B";
  transition: 1s ease-in-out;
  transition-delay: 1.3s;
  opacity: 0;
}

.Contact3 {
  position: absolute;
  top: 850px;
  left: 570px;
  color: rgb(221, 221, 221);
  width: 300px;
  height: 50px;
  font-weight: bold;
  font-family: "YUniverse-B";
  transition: 1s ease-in-out;
  transition-delay: 1.5s;
  opacity: 0;
}

.mainContent-photo {
  position: absolute;
  right: 300px;
  top: 200px;
  opacity: 0;
  transition: 1s;
  transition-delay: 2s;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.mainContent-photo > div {
  width: 100%;
  height: 33.33%;
}

.mainContent-photoFlex {
  display: flex;
  flex-direction: row;
}
.mainContent-photoFlex > div {
  width: 33.33%;
  height: 100%;
}
.mainContent-photoFlex > div > img {
  width: 50%;
  height: 50%;
}