@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -ms-overflow-style: none;
  cursor: none;
}

.loadingWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow: hidden;
  background: none;
}
.loadingWrap > div {
  width: 100%;
  height: 33.33%;
  background-color: white;
  z-index: 99999;
}
.loadingWrap > div:nth-child(2) {
  transform: matrix(1, 0, 0, 1, -2000, 0);
}

.matrix0 {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 3s ease-in-out;
}

.matrix2000 {
  transform: matrix(1, 0, 0, 1, 2000, 0);
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-weight: bolder;
  cursor: none;
}

img {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.menu {
  top: 80px;
  position: fixed;
  left: 140px;
  transition: 0.5s;
  transition-delay: 1.3s;
  z-index: 999;
}
.menu > a {
  z-index: 999;
  position: relative;
  transition: 0.3s;
}
.menu > a:nth-child(1) {
  opacity: 0.3;
}
.menu > a:nth-child(2) {
  opacity: 1;
}
.menu > a:nth-child(3) {
  opacity: 0.3;
}

.Home-button::after {
  height: 10%;
}

.menu a::after {
  position: absolute;
  bottom: 0;
  width: calc(100% + 12px);
  left: -6px;
  height: 0%;
  background: #b28949;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
}

.menu a:hover::after {
  height: 20%;
}

.pointerColor1 {
  border: 2px solid #b28949;
  width: 20px;
  height: 20px;
}

.pointerColor2 {
  border: 2px solid white;
  width: 30px;
  height: 30px;
}

.pointer {
  position: absolute;
  z-index: 99;
  background: none;
  border-radius: 20px;
  top: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: background, border, height, width, transform;
  pointer-events: none;
  transform: translate(-10px, -10px);
}

#mainscroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sub1img {
  width: 100%;
}

.Line {
  z-index: 1000;
}

.right {
  height: calc(100% - 40px);
  width: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  position: fixed;
  right: 40px;
  top: 0px;
  z-index: 1000;
}

.left {
  height: calc(100% - 40px);
  width: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  position: fixed;
  left: 40px;
  top: 0px;
}

.bottom {
  width: calc(100% - 82px);
  position: fixed;
  height: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.leftgold {
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 484px;
  left: 39px;
  top: 180px;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  transition-delay: 1.5s;
}

.rightgold {
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 167.339px;
  right: 40px;
  top: 0%;
  z-index: 1000;
  transform: translate3d(0px, 0px, 0px);
  transition: 0.4s;
}

.container1 {
  width: 100%;
  height: 700px;
}

.mainImg {
  background: url(../img/main/shoesmain3.jpg) no-repeat 0% 50%;
  position: relative;
  top: -100px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 200px);
  background-size: cover;
  background-position: 50%;
  z-index: 70;
}

#mainScrollWrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.scrollContent {
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  transition: 0.4s;
}
.scrollContent > h3 {
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
  top: 50%;
  left: 50%;
  font-size: 80px;
  color: white;
  z-index: 999;
}

.introCon1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  font-family: "Anton", sans-serif;
  transform: matrix(1, 0, 0, 1, 0, 500);
  opacity: 0;
  transition: 2s;
}

.introCon {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.introCon .introText h1 {
  margin-top: 200px;
}
.introCon .introText p {
  color: #999;
  font-size: 20px;
}
.introCon .introMoveNum {
  position: absolute;
  font-size: 200px;
  font-family: "Anton", sans-serif;
  color: #b28949;
  top: 450px;
  left: 80px;
  transform: matrix(1, 0, 0, 1, 0, 200);
  transition: 4s;
}

> div:nth-child(2) {
  width: 50%;
  height: 100%;
}

.introCon2 p {
  font-size: 20px;
  line-height: 40px;
  color: white;
  margin: 0 auto;
  max-width: 60%;
  margin-top: 600px;
  width: 100%;
  transform: matrix(1, 0, 0, 1, 0, 100);
  opacity: 0;
  transition: 3s ease-in-out;
}

.con1 {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  transform: matrix(1, 0, 0, 1, 0, 300);
  opacity: 0;
  transition: 1s ease-in-out;
}
.con1 > div:nth-child(1) {
  width: 25%;
  height: 100%;
}
.con1 > div:nth-child(3) {
  width: 25%;
  height: 100%;
}
.con1 > div:nth-child(2) {
  width: 50%;
  height: 100%;
  position: relative;
}

.con1Text {
  text-align: center;
  color: #999;
}

.computerImg {
  position: absolute;
  top: 95px;
  left: 100px;
  width: 75%;
  height: 56%;
  opacity: 0.8;
}

#sliderWrap {
  margin-top: 150px;
  position: relative;
  width: 100%;
  height: 960px;
  display: flex;
  flex-direction: row;
}
#sliderWrap > div:nth-child(1) {
  width: 50%;
  height: 100%;
}
#sliderWrap > div:nth-child(2) {
  width: 50%;
  height: 100%;
  background-color: white;
  margin-left: 600px;
  transition: 1s;
}

.slider {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 100%;
  height: 650px;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 30%;
  height: 100%;
  width: 200%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  pointer-events: none;
  transition: 0.5s;
}

.slider-item {
  height: 100%;
  width: 900px;
  background-color: white;
  border: 1px solid rgb(243, 242, 242);
}

.nextimgWrap {
  height: 600px;
  width: 100%;
  margin-top: 300px;
  position: relative;
}
.nextimgWrap > h3 {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
  text-align: center;
  z-index: 1;
  font-size: 50px;
  padding: 10px 20px;
}
.nextimgWrap > h3 > span:nth-child(1) {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
}
.nextimgWrap > h3 > span:nth-child(2) {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
}
.nextimgWrap > h3 > span:nth-child(3) {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
}
.nextimgWrap > h3 > span:nth-child(4) {
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
}

.nextimg {
  background-image: url(../img/main/1.jpg);
  width: calc(100% + 100px);
  height: calc(100% + 200px);
  position: absolute;
  top: -100px;
  left: 50px;
  background-size: cover;
  background-color: rgba(85, 84, 84, 0.6);
  background-blend-mode: multiply;
  background-position: 50%;
  transition: background-color 0.3s ease-in-out;
}