@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-weight: bolder;
  cursor: none;
}

img {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.menu {
  top: 80px;
  position: fixed;
  left: 140px;
  transition: 0.5s;
  transition-delay: 1.3s;
  z-index: 999;
}
.menu > a {
  z-index: 999;
  position: relative;
  transition: 0.3s;
}
.menu > a:nth-child(2) {
  opacity: 0.3;
}
.menu > a:nth-child(3) {
  opacity: 0.3;
}

.Home-button::after {
  height: 10%;
}

.menu a::after {
  position: absolute;
  bottom: 0;
  width: calc(100% + 12px);
  left: -6px;
  height: 0%;
  background: #b28949;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
}

.menu a:hover::after {
  height: 20%;
}

.pointerColor1 {
  border: 2px solid #b28949;
  width: 20px;
  height: 20px;
}

.pointerColor2 {
  border: 2px solid white;
  width: 30px;
  height: 30px;
}

.pointer {
  position: absolute;
  z-index: 99;
  background: none;
  border-radius: 20px;
  top: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: background, border, height, width, transform;
  pointer-events: none;
  transform: translate(-10px, -10px);
}

#mainscroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sub1img {
  width: 100%;
}

.Line {
  z-index: 1000;
}

.right {
  height: calc(100% - 40px);
  width: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  position: fixed;
  right: 40px;
  top: 0px;
  z-index: 1000;
}

.left {
  height: calc(100% - 40px);
  width: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  position: fixed;
  left: 40px;
  top: 0px;
}

.bottom {
  width: calc(100% - 82px);
  position: fixed;
  height: 1px;
  background: hsla(0deg, 0%, 73%, 0.3);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.leftgold {
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 484px;
  left: 39px;
  top: 180px;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  transition-delay: 1.5s;
}

.rightgold {
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 167.339px;
  right: 40px;
  top: 0%;
  z-index: 1000;
  transform: translate3d(0px, 0px, 0px);
  transition: 0.4s;
}

.container1 {
  width: 100%;
  height: 700px;
}

.mainImg {
  background: url(../img/main/shoesmain3.jpg) no-repeat 0% 50%;
  position: relative;
  top: -100px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 200px);
  background-size: cover;
  background-position: 50%;
  z-index: 70;
}

#mainScrollWrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.scrollContent {
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  transition: 0.4s;
}

.introCon {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.introCon > div:nth-child(1) {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  font-family: "Anton", sans-serif;
}
.introCon > div:nth-child(1) .introText h1 {
  margin-top: 200px;
}
.introCon > div:nth-child(1) .introText p {
  color: #999;
  font-size: 20px;
}
.introCon > div:nth-child(1) .introMoveNum {
  position: absolute;
  font-size: 200px;
  font-family: "Anton", sans-serif;
  color: #b28949;
  top: 450px;
  left: 80px;
}
.introCon > div:nth-child(2) {
  width: 50%;
  height: 100%;
}

.introCon2 p {
  font-size: 20px;
  line-height: 40px;
  color: white;
  margin: 0 auto;
  max-width: 60%;
  margin-top: 600px;
  width: 100%;
}

.con1 {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
}
.con1 > div:nth-child(1) {
  width: 25%;
  height: 100%;
}
.con1 > div:nth-child(3) {
  width: 25%;
  height: 100%;
}
.con1 > div:nth-child(2) {
  width: 50%;
  height: 100%;
  position: relative;
}

.computerImg {
  position: absolute;
  top: 95px;
  left: 100px;
  width: 75%;
  height: 56%;
}