html{width: 100%; height: 100%; }
body{cursor: none; position: fixed; overflow: hidden; width: 100%; max-width: 100%; height: 100%; background-color: rgb(30, 30, 54);}
* {box-sizing: border-box; margin: 0; padding: 0; scroll-behavior: smooth;}
ul,li,ol{list-style: none;}
a{text-decoration: none; color: white; margin-right: 30px; font-weight: bolder;cursor: none;  }
img{width: 100%; height: 100%;}

.a{transform: matrix(1, 0, 0, 1, 0, -774); transition: all  2s cubic-bezier(.42,0,0,1.01); }
.b{transform: matrix(-1, 0, 0, -1, 0, 0); transition: all 2s cubic-bezier(.42,0,0,1.01); }
.c{transform: matrix(1, 0, 0, 1, 0, 0); transition: all 2s cubic-bezier(.42,0,0,1.01);}
.img{transform: translate(0%, -0%) matrix(1, 0, 0, 1, 0, 0);}
.img2{transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);}
.img3{transform: translate(0%, -200%) matrix(1, 0, 0, 1, 0, 0);}
.img4{transform: translate(0%, -300%) matrix(1, 0, 0, 1, 0, 0);}

.tran-dealy{
  transition-delay: 1.5s;
  transition: 0.5s ease-in-out; 
}
.tran-dealy2{
  transition-delay: 0.5s;
  transition: 0.5s ease-in-out;
}


.boxheight0{
  height: 0%;
  transition: 0.3s;

}
.boxheight100{height: 100%; opacity: 1;
  transition: 0.5s;
  transition-delay: 2s;
}

.pointer2{border: 2px solid white;}


#motionWrap{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.pointer{
  position: absolute;
  z-index: 99;
  background: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b28949;
  border-radius: 20px;
  top: 0;
  left: 0;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: background ,border,height,width,transform;
  pointer-events: none;
  transform: translate(-10px,-10px);
}
.menu{
  top: 130px;
  position: fixed;
  top: 130px;
  left: 140px;
  transition: 0.5s;
  transition-delay: 1.3s;
  z-index: 999;
  >a{
    z-index: 999;
  }
  >a:nth-child(2){
    opacity: 0.3;
  }
  >a:nth-child(3){
    opacity: 0.3;
  }
}
.Line{
  z-index: 1000;
}
.mainWrap{
    height: 100%;
}
.right{
    height: calc(100% - 40px);
    width: 1px;
    background: hsla(0,0%,73%,.3);
    position: fixed;
    right: 40px;
    top: 0px;
    z-index: 1000;
}
.left{
    height: calc(100% - 40px);
    width: 1px;
    background: hsla(0,0%,73%,.3);
    position: fixed;
    left: 40px;
    top: 0px;
}
.bottom{
    width: calc(100% - 82px);
    position: fixed;
    height: 1px;
    background: hsla(0,0%,73%,.3);
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.leftgold{
    position: absolute;
    background: #b28949;
    width: 3px;
    height: 60px;
    left: 39px;
    // transform: translateY(-50%);
    top:40px;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    transition-delay: 1.5s; 
}
.rightgold{
  position: absolute;
  background: #b28949;
  width: 3px;
  height: 200px;
  right: 40px;
  top: 0px;
  z-index: 1000;
  
  
}
.mainbackground{
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.mainContent-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.scroll-container{
    position: relative;
    height: calc(150vh - 195px);
}



.mainContent{
    position: absolute;
    // transition: 1s;
    width: 100%;
    height: 100vh;
    .mainContent-Text{
        position: absolute;
        bottom: 120px;
        left: 127px;
        color: white;
        >h1{
            font-size: 120px;
            position: relative;
        }
        >h2{
          font-size: 15px;
          font-weight: bold;
          margin-left: 10px;
          color: #b28949;
        }

    }
}
.mainContent-page2{
  width: 50%;
  height: calc(100% - 260px);
  background-color: white;
  position: absolute;
  right: 0;
  bottom: calc(100% - 60px);
  
}
.mainContent2{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: calc(100vh - 195px);
  left: 0;
  display: flex;
  >div:nth-child(1){
    width: 20%;
    height: 100vh;
  }
  >div:nth-child(2){
    width: 60%;
    height: 100vh;
  }
  >div:nth-child(3){
    width: 20%;
    height: 100vh;
  }
  
}
.portfolioWrap{
  width: 100%;
  height: 50%;
  // background-color: wheat;
  margin-top: 200px;
  position: relative;
  
}

.portfoliobox{
  width: 100%;
  
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  overflow: hidden;
  >span{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
    font-size: 40px;
    opacity: 0;
    transition: 1s;
    z-index: 999;

  }
  
}
.imgWrap{
  position: relative;
  height: 100%;
  transition: 0.3s ease-in-out;
  >div{
    width: 100%;
    height: 100%;
    transform: matrix(-1, 0, 0, -1, 0, 0);
  }
}


.mainContent2-Text1{ 
  height: 30%;
  transform: translate(-50%,-50%);
  left: 15%;
  position: absolute;
  
  h1{
    color: black;
    font-size: 300px;
    font-weight: 900;
  }
}
.mainContent2-Text2{
  height: 30%;
  transform: translate(-50%,-50%);

  left: 83%;
  position: absolute;
  z-index: -10;
  
  h1{
    color: white;
    font-size: 300px;
    font-weight: 900;
    
  }
}
.textani{
  opacity: 0;
  top: 70%;
  transition: 0.5s;
}
.textani2{
  opacity: 1;
  top: 40%;
  transition: 0.5s;
  transition-delay: 2s;
}
.textani3{
  opacity: 0;
  top: 10%;
  transition: 0.5s;
}
.textani4{
  opacity: 1;
  top: 40%;
  transition: 0.5s;
  transition-delay: 2s;
}










.glitchText{
  color:white;
  font-size:100px;
  position:relative;
  width:700px;
  margin:0 auto;
  z-index: 1;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitchText:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitchText:before{
  content:attr(data-text);
  // position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}


