html{width: 100%; height: 100%; }
body{position: fixed; overflow: hidden; width: 100%; max-width: 100%; height: 100%; background-color: rgb(30, 30, 54);}
* {box-sizing: border-box; margin: 0; padding: 0; scroll-behavior: smooth;}
ul,li,ol{list-style: none;}
a{text-decoration: none; color: white; margin-right: 30px; font-weight: bolder;  }


.a{transform: matrix(1, 0, 0, 1, 0, -774); transition: all  1s; }
.b{transform: matrix(-1, 0, 0, -1, 0, 0); transition: all 1s; }
.c{transform: matrix(1, 0, 0, 1, 0, 0); transition: all 1s;}


// #motionWrap{overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0); transition: transform 1s; width: 1100px;height: 800px; }
#motionWrap{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.menu{
  top: 130px;
  position: fixed;
  top: 130px;
  left: 140px;
}
.Line{
  z-index: 1000;
}
.mainWrap{
    height: 100%;
}
.right{
    height: calc(100% - 40px);
    width: 1px;
    background: hsla(0,0%,73%,.3);
    position: fixed;
    right: 40px;
    top: 0px;
    z-index: 1000;
}
.left{
    height: calc(100% - 40px);
    width: 1px;
    background: hsla(0,0%,73%,.3);
    position: fixed;
    left: 40px;
    top: 0px;
}
.bottom{
    width: calc(100% - 82px);
    position: fixed;
    height: 1px;
    background: hsla(0,0%,73%,.3);
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.leftgold{
    position: absolute;
    background: #b28949;
    width: 3px;
    height: 60px;
    left: 39px;
    // transform: translateY(-50%);
    top:40px;
    z-index: 1000;
}
.mainbackground{
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.mainContent-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.scroll-container{
    position: relative;
    height: calc(150vh - 195px);
}



.mainContent{
    position: absolute;
    transition: 1s;
    width: 100%;
    height: 100vh;
    .mainContent-Text{
        position: absolute;
        bottom: 120px;
        left: 127px;
        color: white;
        >h1{
            font-size: 120px;
            position: relative;
        }

    }
}
.mainContent-page2{
  width: 50%;
  height: calc(100% - 260px);
  background-color: white;
  position: absolute;
  right: 0;
  bottom: calc(100% - 90px);
  
}





.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:700px;
  margin:0 auto;
  z-index: 1;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  // position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}


